extend ../layout

block body
  h1 Register new 🍿

    h2 Select Existing:
    form(action="/snacks" method="POST")

      if snackGroups
        .row
          select(name="snack")
            <option value=""></option>
            each snackGroup in snackGroups
              option(value=snackGroup.snack)= snackGroup.snack

      .row.standalone-text-field
        label New snack
        input(type="text" name="newSnack" placeholder="article name")

      .row.center
        input(type="date" name="date" value=date ? date.toISOString().split('T')[0] : null)

      input(type="submit" value="Save")
