extend ../layout

block body
  h1 Register new 🍿

    form(action="/snacks" method="POST")
      if snackGroups
        .row.standalone-text-field
          label Select existing
          select(name="snack")
            <option value=""></option>
            each snackGroup in snackGroups
              option(value=snackGroup.snack)= snackGroup.snack

      .row.standalone-text-field
        label or create a new Snack
        input(type="text" name="newSnack" placeholder="article name")

      .row.center
        input(type="date" name="date" value=date ? date.toISOString().split('T')[0] : null)

      input(type="submit" value="Save")
      a(href="/").cancel Cancel
